---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install required system packages
  apt:
    name:
      - curl
      - git
      - build-essential
      - python3-pip
    state: present

- name: Create application user
  user:
    name: "{{ app_user }}"
    system: yes
    create_home: yes
    home: "/home/{{ app_user }}"
    shell: /bin/bash

- name: Create application directory
  file:
    path: "{{ service_path }}"
    state: directory

- name: Clone repository from GitHub
  git:
    repo: "https://github.com/flensimdotcore/roadmap-sh-devops-projects.git"
    dest: "{{ service_path }}"
    version: main
    clone: yes
    update: yes

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Install Docker SDK for Python
  pip:
    name:
      - docker
      - requests
    state: present

- block:
    - name: Stop existing container
      shell: docker compose down api

    - name: Run Node.js container
      command: docker compose up -d
  args:
    chdir: "./{{ service_path }}/15-multicontainer-service"
